<!DOCTYPE html>

<html lang="en">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

</head>

<body>
    <div style="font-family:'Raleway',sans-serif; margin:30px">
        <div style="border:2px solid #dddddd; border-radius:7px;">
            <div style="border-top:5px solid #daba84; border-radius:5px 5px 0px 0px"></div>
            <p style="display:flex; justify-content:center; padding:10px; font-size:24px;">
                Greetings from V-Desk!
            </p>
            <hr style="margin:0px 25px; border:1px solid #dddddd" ; />
            <p style="text-align:center; font-size:20px; font-weight:bold">Your verification code</p>
            <p style="display:flex; justify-content:space-between; margin:30px; font-size:18px">
                <span style="color:#17A2B8">Verification Code</span>
                <span style="color:#868E96">
                    <%= data.otp %>
                </span>
            </p>
        </div>
        <div>
            <div>
                <p style="line-height:25px; color:#868E96;">
                    <span style="font-size:18px; color:black;">© <%=new Date().getFullYear();%> VOLANSYS
                            Technologies</span><br />
                    Block A-7th Floor, Safal Profitaire,<br />
                    Corporate Road, Prahladnagar<br />
                    Ahmedabad-380 015, Gujarat.
                </p>
            </div>
        </div>
    </div>
</body>

</html>