<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/images/back-3.png');">
      <div class="wrap-login100 pt-3 pb-5">
          <span class="login100-form-title pb-4 heading">
              Forgot Password
          </span>
          <form class="login100-form validate-form pb-3 pt-5 form" [formGroup]="Forgotpassword" (ngSubmit)="submitForm()">

              <div class="wrap-input100 validate-input" data-validate="Enter email">
                  <input class="input100" type="text"  formControlName='email' placeholder="Enter email here">
                  <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                  <small class="mt-4 text-danger" style="margin-left: 80px;" *ngIf=" invalidloginflag || f['email'].touched && f['email'].invalid ">Please Enter email *</small>
              </div>
              <div class="container-login100-form-btn mt-5">
                  <button class="login100-form-btn">
                     Submit
                  </button>
              </div>

          </form>
      </div>
  </div>
</div>

<lib-toastify-toast-container></lib-toastify-toast-container>
<div id="dropDownSelect1"></div>